$font-size-base: 24px;
$font-size-small: 20px;
$font-size-big: 58px;

$font-color: #bebebe;



// MEDIA QUERYS

// small smartphone portrait 320px
$ss320: "screen and (max-width: 320px)";
// medium smartphone portrait 480px
$sm480: "screen and (max-width: 480px)";
// big smartphone portrait 640px
$sb670: "screen and (max-width: 670px)";

$sl320: "screen and (max-width: 320px) and (orientation: landscape)";
// medium smartphone portrait 480px
$sml480: "screen and (max-width: 480px) and (orientation: landscape)";
// big smartphone portrait 640px
$sbl640: "screen and (max-width: 640px) and (orientation: landscape)";

// portrait tablet   768px
$tp768:  "screen and (max-width: 768px)";
// landcape tablet   1024px
$tl1024: "screen and (max-width: 1024px)";
// 3:4 monitor or old netbook   1280px
$hd1280: "screen and (max-width: 1280px)";
//  macbook retina 1440px
$mr1440: "screen and (max-width: 1440px)";
// just 1500px width
$mr1500: "screen and (max-width: 1500px)";

// fullhd screen 1920px
$fullhd: "screen and (max-width: 1920px)";