@import '../stylesheets/_variables.scss';

html {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}
span {
    margin: 0;
    font-size: $font-size-small;
    color: $font-color;
}
h1 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: $font-size-big;
    font-weight: 600;

    @media #{$tp768} {
        font-size: 40px;   
     }
}
h2, h3 {
    margin: 0;
    font-size: $font-size-base;
    font-weight: 600;
}
p {
    margin: 0;
    font-size: $font-size-base;
    color: $font-color;
}
img{
    max-width: 100%;
    height: auto;
}
.stage {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.stage-1 {
    width: 100%;
    background: url(../images/background_fon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.stage__inner {
    width: 1200px;
    min-height: 50px;
    box-sizing: border-box;
    padding: 20px 20px 0px 20px;
}

.stage-1 > .stage__inner {
    display: flex;
    flex-direction: column;
}

.stage__header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stage_logo {
    width: 195px;
    height: 35px;
    font-size: 36px;
}
.stage_contacts {
    width: 475px;
    display: flex;
    flex-direction: column;

    .stage_adress {
        display: flex;
        flex-direction: row;
        justify-content: center;

        img {
            width: 20px;
            height: 20px;
        }
        .text_adress {
            margin-left: 24px;
            font-size: $font-size-base;
            font-weight: bold;
        }
    }

    @media #{$tl1024} {
        display: none;
    }
}
.top {
    margin-top: 10px;
}
.stage_phones {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media #{$tl1024} {
       display: none;
    }
}

.stage_content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;

    @media #{$hd1280} {
        flex-direction: column;
    }
}
.stage_left {
    width: 64%;
    
    @media #{$hd1280} {
        width: 100%;
    }

}
.stage_presentation {
    margin-top: 130px;
}
.header_color {
    color: #1089dc;
}
.divider {
    margin-top: 25px;
    width: 370px;
    height: 4px;
    background: $font-color;
    opacity: 0.3;
}
.list_item {
    margin-top: 30px;
    list-style-image: url('../images/check.png');
  }
.item {
    margin-top: 15px;
    margin-left: 5px;
    font-size: $font-size-small;
    letter-spacing: 0.02rem;
}
.stage__button {
    width: 371px;
    height: 70px;
    margin: 80px 0 0 90px;
    padding: 10px 20px;
    background: #3a012e;
    border: 1px solid #3a012e;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transition: 0.5s;
    font-size: 24px;
    cursor: pointer;

    &:hover {
    border: 1px solid #fe0000;
    background: #fe0000;
    }
    &::after {
        content: '';
        width: 45px;
        height: 15px;
        background: url(../images/arrow.svg);
        background-repeat: no-repeat;
        background-position: center center;
        display: inline-block;
        margin-left: 20px;
    }
}
.stage_right{
    width: 36%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    
    img {
        position: absolute;
        bottom: 0px;
        right: -130px;

        @media #{$mr1440} {
            right: -40px;     
        }

        @media #{$hd1280} {
           display: none;    
        }
    }  
}

.menu {
    display: none;
}
@media #{$tl1024} {
    .menu {
        width: 40px;
        height: 40px;
        display: flex;
        background: url(../images/menu.svg);
        background-size: contain;
        border: none;
        cursor: pointer;
    }
}
